<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:include="~{../static/html/head.html}"></head>
	<title>Listado de Empleadores</title>

	<body>
		<header>
			<nav th:include="~{../static/html/nav-bar.html}"></nav>
		</header>

		<section class="container">
			<h2>Listado de Empleadores</h2>
			<div class="centerButton">
				<a href="/empleador/creacion" class="btn btn-primary text-align m-1"
					>Crear nuevo Empleado</a
				>
			</div>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Run</th>
						<th>Nombre</th>
						<th>Primer Apellido</th>
						<th>Segundo Apellido</th>
						<th>Dirección</th>
						<th>Email</th>
						<th>Teléfono</th>
						<th>ID Usuario</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empleador: ${empleador}">
						<td th:text="${empleador.idEmpleador}"></td>
						<td th:text="${empleador.run}"></td>
						<td th:text="${empleador.nombre}"></td>
						<td th:text="${empleador.apellido1}"></td>
						<td th:text="${empleador.apellido2}"></td>
						<td th:text="${empleador.direccion}"></td>
						<td th:text="${empleador.email}"></td>
						<td th:text="${empleador.telefono}"></td>
						<td th:text="${empleador.Usuario.idUsuario}"></td>
						<td class="align-middle d-flex">
							<form
								class="m-2"
								th:action="@{/empleador/editar/{idEmpleador}(idEmpleador=${empleador.idEmpleador})}"
								method="GET"
							>
								<button type="submit" class="btn btn-success">
									<i class="bi bi-pencil-square"></i>
								</button>
							</form>
							<form
								class="m-2"
								th:action="@{/empleador/eliminar/{idEmpleador}(idEmpleador=${empleador.idEmpleador})}"
								method="POST"
							>
								<button type="submit" class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<footer th:include="~{../static/html/footer.html}"></footer>
	</body>
</html>
