body {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.h-min {
	height: 77px;
}

.row {
	margin: auto;
}

h2 {
	padding: 5vh;
}

.centerButton{
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}



.icon-gh {
	transform: scale(2);
	transform-origin: center;
	margin: 5px;
}
.logo-icon{
	max-width: 50px;
}
footer {
	color: aliceblue;
	background: url(../img/bg.jpg);
}
