<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head th:include="~{../static/html/head.html}"></head>
	<title>Registro</title>

	<body>
		<header>
			<nav th:include="~{../static/html/nav-home.html}"></nav>
		</header>

		<section class="container row col-md-8 offset-md-2 col-lg-6 offset-lg-3">
			<h2>Registro de Usuario</h2>
			<form th:action="@{/usuario/registroUsuario}" th:object="${usuario}" method="POST">
				<div class="form-group mb-3">
					<label for="run" class="form-label">Run:</label>
					<input
						type="number"
						class="form-control"
						id="run"
						th:field="*{run}"
						required
						placeholder="Sólo números, sin digito verificador"
					/>
				</div>
				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre:</label>
					<input
						type="text"
						class="form-control"
						id="nombre"
						th:field="*{nombre}"
						required
						placeholder="Indique su nombre"
					/>
				</div>
				<div class="mb-3">
					<label for="apellido1" class="form-label">Primer Apellido:</label>
					<input
						type="text"
						class="form-control"
						id="apellido1"
						th:field="*{apellido1}"
						required
						placeholder="Ingrese su primer apellido"
					/>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email:</label>
					<input
						type="text"
						class="form-control"
						id="email"
						th:field="*{email}"
						required
						placeholder="email@servidor.cl"
					/>
				</div>
				<div class="mb-3">
					<label for="clave" class="form-label">Password:</label>
					<input
						type="password"
						class="form-control"
						id="clave"
						th:field="*{clave}"
						required
						placeholder=""
					/>
				</div>
				<div class="mb-3">
					<label class="form-label">Perfil de Usuario</label>
					<div class="row mb-3">
						<div class="col-md-2"></div>
						<div class="form-check col-md-4">
							<input
								class="form-check-input"
								type="radio"
								th:field="*{perfil}"
								id="empleador"
								th:value="3"
								checked
							/>
							<label class="form-check-label" for="empleador"> Empleador </label>
						</div>
						<div class="form-check col-md-4">
							<input
								class="form-check-input"
								type="radio"
								th:field="*{perfil}"
								id="contador"
								th:value="2"
							/>
							<label class="form-check-label" for="contador"> Contador </label>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
				<div class="text-center m-5">
					<button type="submit" class="btn btn-primary">Registrar Usuario</button>
				</div>

				<!--
				<script>
					document.querySelector('form').addEventListener('submit', function () {
						const fechaCreacion = new Date().toISOString();
						const fechaInput = document.createElement('input');
						fechaInput.setAttribute('type', 'hidden');
						fechaInput.setAttribute('name', 'fechaCreacion');
						fechaInput.setAttribute('value', fechaCreacion);
						this.appendChild(fechaInput);
					});
				</script>
-->
			</form>
		</section>

		<footer th:include="~{../static/html/footer.html}"></footer>
	</body>
</html>
